body {
    padding-left: 50px;
    background-color: #020925;
}

.titleHead {
    color: aquamarine;
}

.middleStyle {
    padding-left: 10px;
    background-color: #0a4ca1;
    color: aquamarine;
}

p {
    color: aliceblue;
}






